# فایل‌های موقت و کش
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# پوشه خروجی‌ها
out/step_*.png

# فایل‌های مدل یا وزن‌های سنگین (اگه خواستی بعداً اضافه کنی)
*.pt
*.pth
*.onnx

# فایل‌های محیط مجازی
venv/
.env/
*.env

# فایل‌های سیستمی
.DS_Store
Thumbs.db
